.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    justify-content: space-between;
    /* margin: 0; */
    /* min-height: 160px; */

    width: 161px;
    height: 700px;
    padding: 32px 10px;
    border-radius: 15px;
    background: var(--third-bg-color);
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-buttons a {
    display: flex;
    gap: 20px;

    width: 130px;
    padding: 12px 9px;
    background: var(--button-secondary-color);
    border-radius: 5px;

    transition: background-color linear 0.1s;
}

.sidebar-buttons a:hover{
    background-color: var(--button-primary-color);
}

.profile-notify {
    position: relative;
    display: flex;
    gap: 10px;
}


#notification-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#notification-popup {
    position: absolute;
    bottom: 125%; 
    left: 2%;
    width: 300px;
    height: 150px;
    background: var(--button-secondary-color);
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1000;
}

.notification-popup-content {
    max-height: 180px;
    overflow-y: auto;
    padding: 15px;
    font-size: 14px;
    font-family: 'K2D';
    color: var(--text-color-primary);
}

#notification-popup ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#notification-popup ul li a {
    width: auto;

    background-color: var(--button-secondary-color);
    color: var(--text-color-primary);
}

#notification-popup ul li a:hover {
    text-decoration: underline;
    background-color: var(--button-primary-color);
}

#notification-popup ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 0;
    background-color: var(--button-secondary-color);
    border-bottom: 1px solid #2b3c5a;
}

#profile-btn {
    display: flex;
    justify-content: center;
    position: relative;
}

#profile-btn::after {
    content: attr(data-name);
    position: absolute;
    top: -30px;
    left:50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    font-family: 'K2D';
    font-weight: 200;
    transition: 0.2s ease;
}

#profile-btn:hover::after {
  opacity: 1;
}

.logout-button {
    background: #4D0B0B !important;
}

.logout-button:hover {
    background: #F10B0B !important;
}

.bottom-links a {
    width: -webkit-fill-available;
}
.sidebar-buttons a:hover img {
    opacity: 1;
}

.sidebar-buttons a:hover span {
    color: rgba(227, 227, 227, 1);
}

.sidebar-buttons a span {
    color: rgba(227, 227, 227, 0.2);
    font-family: 'K2D';
    font-size: 16px;
    font-weight: 400;  
}

.sidebar-buttons a img {
    opacity: 0.2;
}

.sidebar-buttons a.active {
    background: var(--button-primary-color);
}

.sidebar-buttons a.active span {
    color: rgba(227, 227, 227);
}

.sidebar-buttons a.active img {
    opacity: 1;
}

/* Popups */
.profile-logout {
    position: fixed;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-secondary-color);
    padding: 35px;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    backdrop-filter: blur(20px);
    background: rgba(0,0,0,0.5);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.logout-popup-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logout-form-title {
    text-align: center;
    font-family: 'K2D';
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color-primary);
}

.logout-form-desc {
    color: var(--text-color-primary);

    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 200;
    max-width: 381px;
}

#logout-submit {
    width: 200px;
    height: 40px;

    background-color: var(--button-close-color);
    color: var(--text-color-primary);
    border-radius: 10px;
    cursor: pointer;

    font-family: 'K2D';
    font-weight: 400;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    transition: background-color linear 0.1s;
}


#logout-submit:hover {
    background-color: var(--button-close-hover-color);
}

.burger {
    display: none;
    cursor: pointer;
}


@media (max-width: 1024px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar-wrapper {
    flex-direction: row;
    gap: 10px;
  }

  .sidebar-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .sidebar-buttons a {
    width: auto;
    padding: 10px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar-buttons a span {
    font-size: 10px;
  }

  #profile-btn::after {
    top: -20px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
    .sidebar {
        display: block;
        width: auto;
    }

    .logo {
        display: none;
    }
    
    .burger {
        display: block;
        color: #fff;
        font-size: 25px;
    }

    .sidebar-wrapper {
        display: none;
        position: absolute; 
        bottom: 45px;
        left: 0;
        background: var(--button-secondary-color);
        width: auto;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        z-index: 99999;
    }

    .sidebar-wrapper.active {
        display: flex;
    }
    
    .sidebar-buttons {
        flex-direction: column;
    }

}