.panel-tab-scrollable {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--button-secondary-color);
}

.panel-todo {
    display: flex;
    flex-direction: column;
    gap: 55px;

    height: 630px;
    min-width: 630px;
    width: 1195px;
    background-color: var(--third-bg-color);
    padding: 70px 50px;
    border-radius: 20px;
}

.panel-todo-first {
    display: flex;
    justify-content: space-between;
}


.panel-first-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.panel-todo-first h3 {
    font-family: 'K2D';
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color-primary);
}

.panel-todo-first p {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 300;

    color: var(--text-color-primary);
}


.user_cards {
    display: flex;
    gap: 20px;
    padding-right: 45px;
    overflow-x: scroll;
    scrollbar-width: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}


#user-cards::-webkit-scrollbar {
    width: 8px;
}

.user_cards::-webkit-scrollbar {
  height: 8px;
}

.user_cards::-webkit-scrollbar-track,
#user-cards::-webkit-scrollbar-track {
  background: none;
}

.user_cards::-webkit-scrollbar-thumb,
#user-cards::-webkit-scrollbar-thumb {
  background-color: var(--button-primary-color);
  border-radius: 8px;
}

.user_cards::-webkit-scrollbar-thumb:hover,
#user-cards::-webkit-scrollbar-thumb:hover {
  background-color: #0e67d2;
}


#todo-create {
    width: 125px;
    height: 40px;

    color: var(--text-color-primary);
    font-family: 'K2D';
    font-size: 0.813rem;
    background-color: var(--button-primary-color);

    transition: background-color linear 0.1s;
}

#todo-create:hover {
    background-color: var(--button-hover-color);
}

.user_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 180px;
    flex-shrink: 0;
    padding: 20px 32px;
    background-color: var(--third-bg-color);
    border-radius: 20px;
}

.user_item_single {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.user_item_single h3 {
    margin-top: 16px;
    margin-bottom: 5px;

    font-family: 'K2D';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: var(--text-color-primary);
}

.user_item_single span {    
    font-family: 'K2D';
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: rgba(227, 227, 227, 0.4);
}

.user_item p {
    max-width: 170px;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
}

.user_item button {
    width: 125px;
    height: 40px;
    background-color: var(--button-primary-color);
    border-radius: 10px;
    color: var(--text-color-primary);
    font-family: "K2D";
    font-size: 13px;

    transition: background-color linear 0.1s;
}

.user_item button:hover {
    background-color: var(--button-hover-color);
}

.status-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 163px;
}

.invoice-status {
    font-family: 'K2D';
    font-size: 15px;
    font-weight: 500;
    color: rgba(227, 227, 227, 0.4);
}

.img-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 104px;
    height: 104px;

    background-color: #E3B200;
    border-radius: 50%;

}


/* Popup */

.todo-details-popup {
    position: fixed;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 999;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);    
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    backdrop-filter: blur(20px);
    background: rgba(0,0,0,0.5);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.todo-details-popup{
    background-color: var(--button-secondary-color);
    border-radius: 20px;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todo-popup-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-form-title {
    text-align: left;
    font-family: 'K2D';
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color-primary);
}

.todo-form-desc {
    text-align: left;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 200;
    max-width: 381px;
    color: var(--text-color-primary);
}

.todo-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.title-block,
.description-block,
.links-block,
.date-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.date-block input {
    cursor: pointer;
}

.title-block span,
.description-block span,
.links-block span,
.date-block span {
    font-family: 'K2D';
    font-weight: 500;
    color: var(--text-color-primary);
    font-size: 16px;
}

.title-block input,
.description-block input,
.links-block input,
.date-block input {
    width: 387px;
    padding: 15px;

    background-color: rgb(217,217,217, 0.2);

    border-radius: 10px;

    color: #fff;

    font-family: 'Inter';
    font-size: 13px;
    font-weight: 300;
}

.title-block input ::placeholder,
.description-block input ::placeholder,
.links-block input ::placeholder,
.date-block input ::placeholder {
    color: #A3A3A3;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 300;
}

.todo-buttons {
    display: flex;
    gap: 15px;
    align-self: center;
}


.todo-buttons button {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: var(--button-primary-color);
    color:var(--text-color-primary);

    transition: background-color linear 0.1s;
}

.todo-buttons button:hover {
    background-color: var(--button-hover-color);
}

.todo-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#todo-tab ul {
    height: 310px;
}

.todo-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-details-form button {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: var(--button-primary-color);
    color:var(--text-color-primary);

    transition: background-color linear 0.1s;
}

.todo-details-form button:hover {
    background-color: var(--button-hover-color);
}

.links-block p {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 300;

    color: #A3A3A3;
}

/* Media requests */
@media (max-width: 768px) {
    .panel-todo {
        min-width: 400px;
        padding: 20px;
        gap: 30px;
    }
    .panel-todo-first {
        display: flex;
        flex-direction: row;
    }
    #user-cards {
        grid-template-columns: repeat(2, 2fr);
        max-height: 350px;
    }
    #user-tab {
        padding: 20px;
    }
    .user_item {
        padding: 20px 20px;
    }
}

@media (max-width: 580px) {
    .overlay {
        width: 100%;
    }
    .todo-details-popup {
        width: 390px;
    }
    
    .item-input {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
    .invoice-primary-data {
        flex-direction: column;
        gap: 15px;
    }

    .item-input-name {
        width: auto !important;
    }

    .item-input-price,
    .item-input-qty {
        width: 50px !important;
    }

    .item-input-qty {
        margin-right: 0 !important;
    }
}

@media (max-width: 460px) {
    .todo-details-popup {
        width: 330px;
    }

    .panel-todo-first {
        flex-direction: column;
        gap: 15px;
    }

    .panel-todo {
        min-width: 300px;
    }

    .item-input-name {
        width: 85px !important;
    }

    .item-input-price,
    .item-input-qty {
        width: 50px !important;
    }

    .item-input-qty {
        margin-right: 0 !important;
    }

    .panel-admin {
        min-width: 300px;
    }
    .panel-first-heading {
        flex-direction: column;
        gap: 15px;
    }
    .panel-first-heading h3 {
        font-size: 25px;
    }
    .title-block input, 
    .description-block input, 
    .links-block input,
    .date-block input {
        max-width: 300px;
    }
}